<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cordovaDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6652FE411CAD35090043D06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6652FE5D1CAD350A0043D06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6652FE681CAD350A0043D06F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
